.vscode/**
node_modules
local-devnet
package-lock.json
.idea

# local secrets
.env
.env.*
!.env.example

# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.DS_Store
